<html>
<div class="body">

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
</div>
 
 <h2>Top rated pets</h2>

  <%= form_with url: pets_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a pet"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <div class="header2">
    <h2>Top rated pets</h2>
  </div>

  <div class="cards" >
      <% @pets.each do |pet|  %>
        <div class="card-pet" >
          <%= cl_image_tag pet.photo.key %>
          <div class="card-pet-infos">
            <div>
              <h2><%= link_to pet.name, pet_path(pet) %></h2>

              <p><%= pet.details%></p>

            </div>
            <h2 class="card-pet-pricing">Score <br>87/100</h2>
          </div>
        </div>
      <% end %>
  </div>

  <h2>Pets near you</h2>

  <%= link_to "+ Add a new pet", new_pet_path %>
</div>

</html>
