<html>
<div class="body">
  <div class="header2">
    <h2>Top rated pets</h2>
  </div>

  <div class="cards" >
      <% @pets.each do |pet|  %>
        <div class="card-pet" >
          <%= cl_image_tag pet.photo.key %>
          <div class="card-pet-infos">
            <div>
              <h2><%= link_to pet.name, pet_path(pet) %></h2>

              <p><%= pet.details %></p>

            </div>
            <h2 class="card-pet-pricing">Score <br>87/100</h2>
          </div>
        </div>
      <% end %>
  </div>

  <h2>Pets near you</h2>

  <p><% @pets.each do |pet| %></p>
  <p><%= link_to pet.name, pet_path(pet)  %></p>
  <p><% end %></p>

  <%= link_to "+ Add a new pet", new_pet_path %>
</div>

</html>
