<h2><%= @pet.name %></h2>
<p><%= @pet.address %></p>
<p><%= @pet.details %></p>
<p><%=  %></p>
<p><%=  %></p>
<p>test</p>


<%= link_to "Hangout with this pet (bookings work in progress)"
  pet_path(@pet)
 %>


<%= link_to "Edit this pet",
  edit_pet_path(@pet)
%>


<%= link_to "Delete",
  pet_path(@pet),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
