<div class="show-all">
  <div class="booking-confirmation">
  <% if @pet.bookings.any? { |booking| booking.user.id = current_user.id } %>
    <%= "You requested a booking for #{@pet.name} from #{@pet.bookings.last.start} untill #{@pet.bookings.last.end}. As soon as the owner confirms you will receive a confirmation."%>
  <% end %>
  </div>
  <div class="pet-details">
    <h2><%= @pet.name %></h2>
    <p><%= @pet.address %></p>
    <p><%= @pet.details %></p>
  </div>

  <div class="img">
    <% @pet.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>


  <div class="show-links">
    <div class="btn">
      <%= link_to "Edit this pet",
          edit_pet_path(@pet), {:style=>'color:black; text-decoration:none;'}%>
    </div>

    <div class="btn">
      <%= link_to "Delete",
        pet_path(@pet),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
      </div>
  </div>

  <h1>Create your booking</h1>
  <%= simple_form_for [@pet, @booking] do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :start, :order => [:month, :day], input_html: { autocomplete: "Starting Date" } %>
    <%= f.input :end, :order => [:month, :day], input_html: { autocomplete: "Ending Date" } %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Create" %>
    </div>
  <% end %>

  <% randattribute = rand(3).floor %>

  <% case randattribute %>
    <% when 0 %>
      <h3>Check out other <%= @pet.species %>s</h3>
      <div class="cards" >
        <% @selection = Pet.where(species: "#{@pet.species}")%>
          <% @selection.each do |pet|  %>
          <div class="cardbody"> <div class="card-pet" >
              <%= cl_image_tag pet.photos.first.key %>
              <div class="card-pet-infos">
                <div>
                  <h2><%= link_to pet.name, pet_path(pet) %></h2>

                  <p><%= pet.details%></p>

                </div>
                <h2 class="card-pet-pricing">Score <br>87/100</h2>
              </div>
            </div></div>

          <% end %>
      </div>
  <% when 1 %>
  <h3>Check out other <%= @pet.diet %> animals</h3>
    <div class="cards" >
      <% @selection = Pet.where(diet: "#{@pet.diet}")%>
        <% @selection.each do |pet|  %>
        <div class="cardbody"> <div class="card-pet" >
            <%= cl_image_tag pet.photos.first.key %>
            <div class="card-pet-infos">
              <div>
                <h2><%= link_to pet.name, pet_path(pet) %></h2>

                <p><%= pet.details%></p>

              </div>
              <h2 class="card-pet-pricing">Score <br>87/100</h2>
            </div>
          </div></div>


        <% end %>
    </div>
  <% when 2 %>
    <h3>Check out other <%= @pet.lifestyle %> animals</h3>
    <div class="cards" >
      <% @selection = Pet.where(lifestyle: "#{@pet.lifestyle}")%>
        <% @selection.each do |pet|  %>
        <div class="cardbody">  <div class="card-pet" >
            <%= cl_image_tag pet.photos.first.key %>
            <div class="card-pet-infos">
              <div>
                <h2><%= link_to pet.name, pet_path(pet) %></h2>

                <p><%= pet.details%></p>

              </div>
              <h2 class="card-pet-pricing">Score <br>87/100</h2>
            </div>
          </div></div>


        <% end %>
    </div>
  <% end %>
</div>
