<div class="body">
  <h1>Create your booking</h1>
  <%= simple_form_for [@pet, @booking] do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :start, :order => [:month, :day], input_html: { autocomplete: "Starting Date" } %>
    <%= f.input :end, :order => [:month, :day], input_html: { autocomplete: "Ending Date" } %>
    </div>
    <%= f.button :submit, "Create" %>
  <% end %>
</div>
