    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <a class="navbar-brand" href="#">
        <%= image_tag"bear-logo.png" %>
      </a>
      <div class="navbar-center">
        <%= link_to "BearBnB", pets_path, {:style=>'color:black; text-decoration:none;'} %>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "+ Add your pet", new_pet_path, {:style=>'color:black; text-decoration:none;'} %>
          </li>
           <li class="nav-item">
            <%= link_to "Logout", new_pet_path, {:style=>'color:black; text-decoration:none;'} %>
           </li>
          <li class="nav-item dropdown">
            <%= image_tag "avatar.webp", class:"avatar dropdown-toggle", id:"navbarDropdown", data: {"data-bs-toggle": :dropdown, "aria-haspopup": :true, "aria-expanded": :false}, href:"BearBnB"%>
           </li>
         </ul>
      </div>
    </div>
  </div>
