<!DOCTYPE html>
<html>
  <head>
    <title>BearBnB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

        <a class="navbar-brand" href="#">
          <%= image_tag"bear-logo.png" %>
        </a>
        <div class="navbar-center" style="text-decoration">
        <%= link_to "BearBnB", pets_path %>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <%= link_to "+ Add your pet", new_pet_path %>
              </li>
              <li class="nav-item">
                <%= link_to "Logout", new_pet_path %>
              </li>
              <li class="nav-item dropdown">
                <%= image_tag "avatar.webp", class:"avatar dropdown-toggle", id:"navbarDropdown", data: {"data-bs-toggle": :dropdown, "aria-haspopup": :true, "aria-expanded": :false}, href:"BearBnB"%>
              </li>
              <!--li class="nav-item"-->
              <!--/li-->
          </ul>
      </div>
    </div>
      <%= yield %>

    <%# <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        Any questions left?
      </div>
    </div> %>
  </body>
</html>
